.profile-container {
  display: flex;
  justify-content: space-between;
}

.profile-page-container {
  width: 40%; /* Adjust the area  */
}

.profile-post-container {
  width: 60%; /* Adjust the area */
}
