/* .profile-content {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.profile-posts {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
} */

/* If you need some space between .profile-content and .profile-posts */
/* .profile-content {
  margin-right: 10px;
}

.profile-posts {
  margin-left: 10px;
} */

@font-face {
    font-family: 'Retro';
    src: local('PressStart2P-Regular'),
        url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

.screen-container {
    font-family: 'Retro', sans-serif;
    width: 140%; /* Adjust the width to make it larger */
    height: 100%;
    margin-right: -20%; /* Add negative margin to align with group-body */
    background-color: #303b40;
    border-radius: 30px;
    background-color: #303b40;
    opacity: 1;
    background-image: repeating-radial-gradient(
            circle at top,
            transparent 0,
            #303b40 100px
        ),
        repeating-linear-gradient(#23365655, #233656);
}

.flex {
    display: flex;
}

.image {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;
    border-radius: 15px;
    justify-content: space-around;
    object-fit: cover;
}

.group-body {
    font-family: 'Retro', sans-serif;
    width: 100%;
    height: 80%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
}

.group-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(30,42,62);
    border: 0px solid rgba(54, 69, 98, 0.18);
    padding: 1%;
    margin-bottom: 2%;
    background: rbg(30, 42, 62);
    background: linear-gradient(
        75deg,
        rgb(40, 58, 88) 0%,
        rgba(54, 69, 98, 0) 100%
    );
    transition: all 0.2s ease;
    cursor: pointer;
    overflow: hidden;
}

.group-card:hover {
    opacity: 1;
    transform: scale(1.02);
}

.group-title {
    font-weight: 800;
    font-size: 25px;
    color: white;
    margin: 10px 0px 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Retro";
}

.group-subtitle {
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    color: white;
    font-family: "Retro";
}

.group-subsub {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    color: white;
    font-family: "Retro";
}

.insta {
    padding: 0.25rem;
    margin: -0.25rem;
    color: white;
    font-family: "Retro";
}

.insta:hover {
    color: #3B82F6;
}

.insta:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.insta:focus-visible {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.insta:ring-primary {
    box-shadow: 0 0 0 2px #6366F1;
}

.insta2 {
    width: 6rem;
    height: 3rem;
    overflow: visible;
    fill: currentColor;
}
