@font-face {
    font-family: 'Retro';
    src: local('PressStart2P-Regular'),
        url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

.sidebar-container {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    overflow: hidden;
}

.profile-img {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.12);
}

.btn-trans {
    background-color: transparent;
}

.profile-img-text {
    font-family: "Retro";
    font-size: 10px;
    color: white;
}
